.visible{
    display: none;
}

.hidden {
    visibility: hidden;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

.text-conteiner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name{
    display: block;
}
.image{
    width: 50%;
    height: 50%;
}

.temperament{
    font-weight: bold;
}

.loader{
width: 48px;
height: 48px;
border: 5px solid black;
border-bottom-color: #FF3D00;
border-radius: 50%;
display: inline-block;
box-sizing: border-box;
animation: rotation 1s linear infinite;
}
 @keyframes rotation {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }